/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

nav {
  background-color: #2081C3;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

footer {
  background-color: #0A2C42;
  padding: 10px;
  color: white;
}

main {
  flex-grow: 1;
  padding: 10px;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-container img {
  height: 200px;
  margin: 10px;
}

.index-container a {
  background-color: #2081C3;
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
}

.beers-container img {
  height: 100px;
}