<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lab Ironbeers</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <nav class="navbar">
    <a class="navbar__link" href="/">Home</a>
    <a class="navbar__link" href="/beers">Beers</a>
    <a class="navbar__link" href="/random-beer">Random Beer</a>
  </nav>

  <main class="main">
    {{{body}}}
  </main>

  <footer class="footer">Developed in Lisbon</footer>
</body>

</html>