<div class="all-beers-container">
  <h1>All Beers</h1>

  <p>x = {{x}}</p>

  <div class="beer-container">
    {{#each beers}}
    <div class="card-beer">
      <h2>{{this.name}}</h2>
      <img src="{{this.image_url}}" alt="">
    </div>
    {{/each}}
  </div>
</div>